:root {
    --bg: #fff;
    --bg-light: #f8f9f8;
    --text-color: #444;
    --primary-color: #0098ce;
    --breakpoint-xs: 320px;
    --breakpoint-sm: 480px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-xxl: 1440px;
}